each field in box
  if isinstance(field, str)
    if house.get(field, None)
      p
        span.grey #{_(field)}:
        #{house[field]}
  elif isinstance(field, tuple)
    for item in field
      if house.get(item, None)
        p
          span.grey #{_(item)}:
          #{house[item]}
  else
    p= type(field)
