nav.house-tab
  - var summary = 'a'
  - var gallery = 'b'
  //-neighbor = 'c'
  //-- var loc = window.location.pathname.split('/')
  //-- var loc_path = loc[2]
  //-- if (loc.length==3) summary='active'
  //-- if (loc_path=='gallery') gallery='active'
  //-- if (loc_path=='neighbor') neighbor='active'
  a(href="/house/#{str(house['_id'])}", class=summary)= _('summary')
  a(href="/house/gallery/#{str(house['_id'])}", class=gallery)= _('gallery')
  //-a(href="/house/neighbor/#{house._id}", class=gallery)= _('neighbor')
