.house-summary
  p.grey
    span #{_('price')}: 
    em.price #{house['price'].get('cn', 'N/A')}
    | 美元
  p 
    span.grey #{_('size')}:
    | #{house.get('square metre', 'N/A')}平方米
  p
    span.grey #{_('construction year')}:
    | #{house.get('construction year', 'N/A')}年
  ul.compact
    - var fields = ['bedroom', 'bathroom'] if hide else ['floor', 'room', 'bedroom', 'bathroom']
    each f in fields
      li
        span.grey #{_(f)}:
        | #{house.get(f, 'N/A')}
