each field in box
  if typeof(field)=='string'
    if house[field]
      p 
        span.grey #{_(field)}:
        | #{house[field]||'N/A'}
  else
    for k,v in field
      if typeof(k) =='string'
        if house[k]
          p
            span.grey #{_(k)}:
            | #{house[k]||'N/A'}
      else
        for item in k
          p
            span.grey #{item}:
            | #{house[v][item]||'N/A'}
