.house-summary
  p.grey
    span #{_('price')}: 
    em.price #{house.price.cn || 'N/A'}
    | 美元
  p 
    span.grey #{_('size')}:
    | #{house['square metre'] || 'N/A'}平方米
  p
    span.grey #{_('construction year')}:
    | #{house['construction year'] || 'N/A'}年
  ul.compact
    -var fields = hide ? ['bedroom', 'bathroom'] : ['floor', 'room', 'bedroom', 'bathroom']
    each f in fields
      li
        span.grey #{_(f)}:
        | #{house[f] || 'N/A'}
