kolor  = #1477d6
black  = #404040
dark   = #666
grey   = #a6a6a6
orange = #fc5620
light  = #ccc

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td
  margin 0
  padding 0

body, button, input, select, textarea
  font 13px/1.8 Tahoma, Georgia,"Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",SimSun,sans-serif

address, cite, dfn, em, var
  font-style normal

code, kbd, pre, samp
  font-family monaco, 'courier new', 'bitstream vera sans mono', courier, monospace

small
  font-size 12px

ul, ol
  list-style none

fieldset, img
  border 0

img
  vertical-align middle
  max-width 100%

button, input, select, textarea
  font-size 100%

table
  border-collapse collapse
  border-spacing 0

textarea
  resize vertical

article,aside,dialog,details,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background transparent

article, aside, dialog, details, figure, footer, header, hgroup, nav, section, summary
  display block

// reset end

a
  text-decoration none
  color kolor

body
  color black

.grey
  color grey
  margin-right .5em

#wrap
  min-height 90%
  background #f5f5f5

.main
  padding 20px
  overflow hidden

.main
footer > .inner
header > .inner
    width 1010px
    margin 0 auto

header
footer
  display block
  width 100%
header
  background kolor
  color #fff
  padding 15px 0 5px
  .inner
    overflow hidden
  a
    color #fff
    margin 0 1em
  .logo
    float left
    vertical-align top
    margin 0
    position relative
    top 10px
  .user
    float right
    padding-top 30px
    line-height 30px
    .btn
      display inline-block
      border 1px solid #fff
      border-radius 3px
      padding 0 1em
      margin 0 1em 0 0
  .search
    k = #3992de
    float left
    padding-left 80px
    .nav
      margin-bottom -3px
      a
        float right
        margin-right 5em
    label
      display inline-block
      padding 0 1em
      height 30px
      line-height 30px
    .active
      background k
      border-radius 5px 5px 0 0
    .inner
      border-radius 5px
      border 5px solid k
    input[type="text"]
      width 345px
      height 30px
      border 1px solid #fff
      border-radius 3px 0  0 3px
      &:focus
        outline 0 none
        border-color  #fed331
    button
      height 30px
      background kolor
      padding 0 1em
      border 0 none
      color #fff
      //border-radius 0 3px 3px 0
    .hot
      padding 5px 0 0 1em
      color lighten(kolor,30)
      font-size 11px
      a
        margin 0 0 0 1em
        color lighten(kolor,30)

.house-summary
  .price
    font-size 18px
    color orange

.pager
  margin 1em 0
  a
    display inline-block
    margin 0 2px
    padding 2px 10px
    background-color #fff
    border 1px solid #fff
  .active
    font-weight bold
    border 1px solid kolor
  .inactive
    color #ccc

footer
  display block
  padding 20px
  border-top 1px solid #ccc
  text-align right
  color dark
  box-sizing border-box
  .copyright
    float left
  a
    margin-left 2em
    color dark
    cursor pointer
    &:hover
      color kolor
  .wechat
    position relative
    &:hover img
      display block
    img
      h = 150px
      //display none
      position absolute
      right - (h / 2)
      top - (h + 10)
      max-width h
      width h
      height h
      box-shadow 0 3px 5px dark
      &:before
        left -30px
        top 22px
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-right-color #fff
        border-width 10px
        margin-top -10px

.ui.tip
  position fixed
  margin 0
  top 0
  left 1em
  right 1em

.agent-photo
  img
    width 100px
    height 100px

.tag
  display inline-block
  background #e5f3fe
  border-radius 3px
  padding 0 5px
  margin-left 1em
//base-end

#user-form
  width 30em
  padding 2em
  margin 2em auto
  background #fff
  border 1px solid #ccc
  .field
    margin-bottom 10px
    padding-left 6em
    label
      float left
      width 5em
      text-align right
      margin-left -6em
    input
      width 20em
    .block
      display block
  .inline
    label
      display inline
      float none
      margin 0
      cursor pointer
    input
      width auto
      margin-right 5px
  .action
    padding-left 6em
    button
      margin-right 1em
      height 30px
      background kolor
      padding 0 1em
      border 0 none
      color #fff
      cursor pointer
  .msg-ok
    padding .5em 1em
    background lighten(kolor,50)
    text-align center
    margin 1em auto 0

// user-form end

.index-intro
  & > .hd
    font-size 30px
    color black
    margin 30px
    text-align center
  .bd
    font-size 0
  .item
    display inline-block
    width 315px
    text-align center
    font-size 14px
    &:nth-child(2)
      margin 0 32px

.index-state
  display table
  width 100%
  background #fff
  border 1px solid #f5f5f5
  margin-top 20px
  .state
    display table-cell
    padding 1em 2em
    text-align center
    border-right 1px solid #f5f5f5
    vertical-align middle
    &-large
      width 17%
      a
        font-size 18px
      span
        display block

.index-house
  margin-top 50px
  & > .hd
    font-size 18px
    color dark
  .house
    float left
    width 490px
    padding-left 245px
    height 250px
    background #fff
    vertical-align top
    box-sizing border-box
    margin-bottom 30px
    &:nth-of-type(2n+1)
      margin-left 30px
    .bd
      padding 10px
    .more
      margin-top 1em
      a
        padding 2px 1em
        border 1px solid light
        background #f7f7f7
        color dark
        border-radius 2px
        &:hover
          color kolor
    .hd
      padding 10px 10px 0
      line-height 1.2
      position relative
      &:before
        left -30px
        top 22px
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-right-color #fff
        border-width 10px
        margin-top -10px
  .gallery
    float left
    margin-left -245px
  .addr
    padding-bottom 10px
    line-height 1.2

#carousel
  font-weight bold
  border 1px solid #afafaf
  padding 0
  background-color white
  margin 0 auto
  margin-bottom 2em
  position relative
  overflow hidden
  height 500px
  //width 35em
  border-radius 0.1em
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none
  #nextButton
    right 2em
  #prevButton
    left 2em
  #nav
    font-size 2em
    position absolute
    bottom 0
    width 100%
    color rgba(255,255,255,0.4)
    z-index 10

#carousel #nextButton, 
#carousel #prevButton
  cursor pointer
  display inline-block
  overflow hidden
  position absolute
  top 9em
  line-height 3em
  width 3em
  height 3em
  text-align center
  border-radius 2em
  color rgba(255,255,255,0.4)
  background rgba(255,255,255,0.4)
  z-index 10

#nav
  .dot
    width 0.5em
    text-align center
    display inline-block
    list-style-type none
    &:before
      content "\0025cb"
    &.active
      &:before
        content "\0025cf"
  ul
    text-align center
    -webkit-padding-start 0
    margin 0 auto

.slide
  display none
  overflow hidden
  position absolute
  top 0
  left -100%
  width 100%
  height 100%
  list-style-type none
  padding 0
  margin 0
  z-index 1
  -webkit-transition-property left
  -moz-transition-property left
  -ms-transition-property left
  -o-transition-property left
  transition-property left
  -webkit-transition-duration 1s
  -moz-transition-duration 1s
  -ms-transition-duration 1s
  -o-transition-duration 1s
  transition-duration 1s
  -webkit-transition-timing-function cubic-bezier(0.1,0.7,0.7,1)
  -moz-transition-timing-function cubic-bezier(0.1,0.7,0.7,1)
  -ms-transition-timing-function cubic-bezier(0.1,0.7,0.7,1)
  -o-transition-timing-function cubic-bezier(0.1,0.7,0.7,1)
  transition-timing-function cubic-bezier(0.1,0.7,0.7,1)
  -webkit-transform translate3d(0,0,0)
  -moz-transform translate3d(0,0,0)
  -ms-transform translate3d(0,0,0)
  -o-transform translate3d(0,0,0)
  transform translate3d(0,0,0)
  img
    width 100%
    height 100%
  span
    &.caption
      position absolute
      display block
      left 2em
      top 2em
      padding 1em
      color white
      background rgba(0,0,12,0.2)
      box-shadow inset 0 0 4px #ddF
      z-index 10
      border-radius 0.2em
  &.show
    left 0
    overflow visible
    z-index 2
    & ~ .slide
      left 100%
  &.next
    left 100% !important
  &.prev
    left -100% !important

.slide.prev,
.slide.next,
.slide.show
  display block

//index-end

.article
  overflow hidden
  padding 20px 0
  border-bottom 1px solid #e6e6e6

.article
.article-single
  .hd
    margin 0 0 10px
    padding 0 0 5px

.article-single
  display table
  width 100%
  .article-content
  .article-side
    display table-cell
    vertical-align top
    padding 20px

  .article-content
    background #fff
    .header
      margin-top 0
  .article-side
    width 200px
    background #ebebeb

.article-list
  background #fff
  padding 0 20px
  .bd
    word-wrap break-word
    word-break break-all
  .ft
    margin 1em 0
  .agent-photo
    float right
    width 150px
    margin-left 60px
  .pager
    padding-bottom 1em

//article-end
.gallery-boxs
  img
    display inline-block
    width 480px
    padding 10px
    background #fff
    cursor pointer
    box-shadow 0 1px 1px grey
    transition width 1s
    &:nth-of-type(2)
      margin-left 10px
  img.active
    display block
    position relative
    width 100%
    box-sizing border-box
    margin 10px 0

.house-boxs
  width 490px
  float left
  &:nth-of-type(2)
    margin-right 30px
  .hbox
    margin-bottom 20px
    box-sizing border-box
    padding 20px
    border 1px solid #e6e6e6
    background #fff
    .hd
      font-size 18px
      line-height 20px
      padding-bottom 10px
      margin-bottom 10px
      border-bottom 1px solid #e6e6e6
  #address
  .map .hd
    border 0
  .compact
    margin-left 0
    padding-left 0
    li
      display inline-block
      width 45%
  #map
    position relative
    height 250px
  .slider
    padding 10px
    -webkit-user-select none
    user-select none
    font-size 0
    .inner
      white-space nowrap
    .thumb
      width 430px
      overflow hidden
      img
        margin-left 5px
        cursor pointer
      .active
        box-shadow 0 0 5px kolor
    .thumb,i
      vertical-align top
      display inline-block
    i
      width 16px
      height 56px
      line-height 56px
      text-align center
      border 1px solid #e6e6e6
      cursor pointer
      font-size 10px

  .agent
    background #f7f7f7
    padding 20px
    width 100%
    margin 0 0 -20px -20px
    > div
      display inline-block
      vertical-align top
    .agent-quote
      width 240px
      padding 20px
      margin-left 20px
      background #fff
      position relative
      &:before
        right 100%
        top 20px
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-right-color #fff
        border-width 10px
        margin-top -10px
        top: 20px;


.house-main
  background #fff
  position relative
  top -20px
  padding 20px 20px 0
  width 100%
  box-sizing border-box
  .house-tab
    margin-top 20px
    border-top 1px solid #f7f7f7
    a
      display inline-block
      margin-right 1em
      padding 10px 5px
      color dark
    .active
      //padding-bottom 3px
      border-bottom 2px solid kolor

.house-list-side
  width 200px
  float right
  .box
    margin-bottom 50px
    .hd
      line-height 40px
  .relative-article a
    display inline-block
    margin-top 10px

.house-list
  width 755px
  float left
  .house
    background #fff
    border 1px solid #e6e6e6
    overflow hidden
    padding 0 15px 0 440px
    margin-bottom 20px
    box-sizing border-box
    .gallery
      float left
      width 420px
      margin-left -440px
      img
        float left
        width 335px
      .thumb
        float left
        width 85px
        img
          opacity .3
        .active
          opacity 1
      #cover
        width 335px
    .hd
      margin 15px 0 0
      font-size 18px
      line-height 20px
    .bd
      font-size 14px
      line-height 2
    p
      margin 0
    ul
      margin 0
      padding 0
      overflow hidden
      li
        display inline-block
        width 45%
    .desc
      margin 10px 0 20px
      line-height 1.5

  .house-filter
    margin-bottom 20px
    border 1px solid #e6e6e6
    background #f7f7f7
    line-height 2
    label
      margin 0 1em
    a
      display: inline-block;
      padding 0 .5em
      white-space nowrap
      cursor pointer
      color dark
      &.active
      &:hover
        color kolor
    .hf-order
      display inline-block
      label
        margin-right .5em
      a
        border-right 1px solid #e6e6e6
        padding 0 1em
      .active i
        position relative
        top 12px
        margin-left .5em
        content " "
        height 0
        width 0
        pointer-events none
        border solid transparent
        border-width 5px
        border-top-color dark
        &[data-dir='0']
          border-top-color kolor
        &[data-dir='1']
          top -12px
          border-top-color transparent
          border-bottom-color kolor
          
    .hf-price
      display inline-block
      margin 0 10px
      input
        width 4em
    .hf-field
      display inline-block
      input
        margin-left 1em
    .hf-state
      border-bottom 1px solid #e6e6e6
      padding 10px 1em 10px 7em
      background #fff
      a
        width 5em
        padding 0
        margin-right .5em
        &:nth-child(1)
          width 5.5em
          margin-left -6em
    .more
      float right
      border-right 0
      border-left 1px solid #e6e6e6
