body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:13px/1.8 Tahoma,Georgia,"Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",SimSun,sans-serif}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:monaco,'courier new','bitstream vera sans mono',courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
fieldset,img{border:0}
img{vertical-align:middle;max-width:100%}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:vertical}
article,aside,dialog,details,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,dialog,details,figure,footer,header,hgroup,nav,section,summary{display:block}
a{text-decoration:none;color:#1477d6}
body{color:#404040}
.grey{color:#a6a6a6;margin-right:.5em}
#wrap{min-height:90%;background:#f5f5f5}
.main{padding:20px;overflow:hidden}
.main,footer > .inner,header > .inner{width:1010px;margin:0 auto}
header,footer{display:block;width:100%}
header{background:#1477d6;color:#fff;padding:15px 0 5px;}
header .inner{overflow:hidden}
header a{color:#fff;margin:0 1em}
header .logo{float:left;vertical-align:top;margin:0;position:relative;top:10px}
header .user{float:right;padding-top:30px;line-height:30px;}
header .user .btn{display:inline-block;border:1px solid #fff;border-radius:3px;padding:0 1em;margin:0 1em 0 0}
header .search{float:left;padding-left:80px;}
header .search .nav{margin-bottom:-3px;}
header .search .nav a{float:right;margin-right:5em}
header .search label{display:inline-block;padding:0 1em;height:30px;line-height:30px}
header .search .active{background:#3992de;border-radius:5px 5px 0 0}
header .search .inner{border-radius:5px;border:5px solid #3992de}
header .search input[type="text"]{width:345px;height:30px;border:1px solid #fff;border-radius:3px 0 0 3px;}
header .search input[type="text"]:focus{outline:0 none;border-color:#fed331}
header .search button{height:30px;background:#1477d6;padding:0 1em;border:0 none;color:#fff}
header .search .hot{padding:5px 0 0 1em;color:#8fc3f4;font-size:11px;}
header .search .hot a{margin:0 0 0 1em;color:#8fc3f4}
.house-summary .price{font-size:18px;color:#fc5620}
.pager{margin:1em 0;}
.pager a{display:inline-block;margin:0 2px;padding:2px 10px;background-color:#fff;border:1px solid #fff}
.pager .active{font-weight:bold;border:1px solid #1477d6}
.pager .inactive{color:#ccc}
footer{display:block;padding:20px;border-top:1px solid #ccc;text-align:right;color:#666;box-sizing:border-box;}
footer .copyright{float:left}
footer a{margin-left:2em;color:#666;cursor:pointer;}
footer a:hover{color:#1477d6}
footer .wechat{position:relative;}
footer .wechat:hover img{display:block}
footer .wechat img{position:absolute;right:-75px;top:-160px;max-width:150px;width:150px;height:150px;box-shadow:0 3px 5px #666;}
footer .wechat img:before{left:-30px;top:22px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-right-color:#fff;border-width:10px;margin-top:-10px}
.ui.tip{position:fixed;margin:0;top:0;left:1em;right:1em}
.agent-photo img{width:100px;height:100px}
.tag{display:inline-block;background:#e5f3fe;border-radius:3px;padding:0 5px;margin-left:1em}
#user-form{width:30em;padding:2em;margin:2em auto;background:#fff;border:1px solid #ccc;}
#user-form .field{margin-bottom:10px;padding-left:6em;}
#user-form .field label{float:left;width:5em;text-align:right;margin-left:-6em}
#user-form .field input{width:20em}
#user-form .field .block{display:block}
#user-form .inline label{display:inline;float:none;margin:0;cursor:pointer}
#user-form .inline input{width:auto;margin-right:5px}
#user-form .action{padding-left:6em;}
#user-form .action button{margin-right:1em;height:30px;background:#1477d6;padding:0 1em;border:0 none;color:#fff;cursor:pointer}
#user-form .msg-ok{padding:.5em 1em;background:#ecf5fd;text-align:center;margin:1em auto 0}
.index-intro > .hd{font-size:30px;color:#404040;margin:30px;text-align:center}
.index-intro .bd{font-size:0}
.index-intro .item{display:inline-block;width:315px;text-align:center;font-size:14px;}
.index-intro .item:nth-child(2){margin:0 32px}
.index-state{display:table;width:100%;background:#fff;border:1px solid #f5f5f5;margin-top:20px;}
.index-state .state{display:table-cell;padding:1em 2em;text-align:center;border-right:1px solid #f5f5f5;vertical-align:middle;}
.index-state .state-large{width:17%;}
.index-state .state-large a{font-size:18px}
.index-state .state-large span{display:block}
.index-house{margin-top:50px;}
.index-house > .hd{font-size:18px;color:#666}
.index-house .house{float:left;width:490px;padding-left:245px;height:250px;background:#fff;vertical-align:top;box-sizing:border-box;margin-bottom:30px;}
.index-house .house:nth-of-type(2n+1){margin-left:30px}
.index-house .house .bd{padding:10px}
.index-house .house .more{margin-top:1em;}
.index-house .house .more a{padding:2px 1em;border:1px solid #ccc;background:#f7f7f7;color:#666;border-radius:2px;}
.index-house .house .more a:hover{color:#1477d6}
.index-house .house .hd{padding:10px 10px 0;line-height:1.2;position:relative;}
.index-house .house .hd:before{left:-30px;top:22px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-right-color:#fff;border-width:10px;margin-top:-10px}
.index-house .gallery{float:left;margin-left:-245px}
.index-house .addr{padding-bottom:10px;line-height:1.2}
#carousel{font-weight:bold;border:1px solid #afafaf;padding:0;background-color:#fff;margin:0 auto;margin-bottom:2em;position:relative;overflow:hidden;height:500px;border-radius:.1em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
#carousel #nextButton{right:2em}
#carousel #prevButton{left:2em}
#carousel #nav{font-size:2em;position:absolute;bottom:0;width:100%;color:rgba(255,255,255,0.4);z-index:10}
#carousel #nextButton,#carousel #prevButton{cursor:pointer;display:inline-block;overflow:hidden;position:absolute;top:9em;line-height:3em;width:3em;height:3em;text-align:center;border-radius:2em;color:rgba(255,255,255,0.4);background:rgba(255,255,255,0.4);z-index:10}
#nav .dot{width:.5em;text-align:center;display:inline-block;list-style-type:none;}
#nav .dot:before{content:"\0025cb"}
#nav .dot.active:before{content:"\0025cf"}
#nav ul{text-align:center;-webkit-padding-start:0;margin:0 auto}
.slide{display:none;overflow:hidden;position:absolute;top:0;left:-100%;width:100%;height:100%;list-style-type:none;padding:0;margin:0;z-index:1;-webkit-transition-property:left;-moz-transition-property:left;-ms-transition-property:left;-o-transition-property:left;transition-property:left;-webkit-transition-duration:1s;-moz-transition-duration:1s;-ms-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;-webkit-transition-timing-function:cubic-bezier(.1,.7,.7,1);-moz-transition-timing-function:cubic-bezier(.1,.7,.7,1);-ms-transition-timing-function:cubic-bezier(.1,.7,.7,1);-o-transition-timing-function:cubic-bezier(.1,.7,.7,1);transition-timing-function:cubic-bezier(.1,.7,.7,1);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.slide img{width:100%;height:100%}
.slide span.caption{position:absolute;display:block;left:2em;top:2em;padding:1em;color:#fff;background:rgba(0,0,12,0.2);box-shadow:inset 0 0 4px #ddf;z-index:10;border-radius:.2em}
.slide.show{left:0;overflow:visible;z-index:2;}
.slide.show ~ .slide{left:100%}
.slide.next{left:100% !important}
.slide.prev{left:-100% !important}
.slide.prev,.slide.next,.slide.show{display:block}
.article{overflow:hidden;padding:20px 0;border-bottom:1px solid #e6e6e6}
.article .hd,.article-single .hd{margin:0 0 10px;padding:0 0 5px}
.article-single{display:table;width:100%;}
.article-single .article-content,.article-single .article-side{display:table-cell;vertical-align:top;padding:20px}
.article-single .article-content{background:#fff;}
.article-single .article-content .header{margin-top:0}
.article-single .article-side{width:200px;background:#ebebeb}
.article-list{background:#fff;padding:0 20px;}
.article-list .bd{word-wrap:break-word;word-break:break-all}
.article-list .ft{margin:1em 0}
.article-list .agent-photo{float:right;width:150px;margin-left:60px}
.article-list .pager{padding-bottom:1em}
.gallery-boxs img{display:inline-block;width:480px;padding:10px;background:#fff;cursor:pointer;box-shadow:0 1px 1px #a6a6a6;transition:width 1s;}
.gallery-boxs img:nth-of-type(2){margin-left:10px}
.gallery-boxs img.active{display:block;position:relative;width:100%;box-sizing:border-box;margin:10px 0}
.house-boxs{width:490px;float:left;}
.house-boxs:nth-of-type(2){margin-right:30px}
.house-boxs .hbox{margin-bottom:20px;box-sizing:border-box;padding:20px;border:1px solid #e6e6e6;background:#fff;}
.house-boxs .hbox .hd{font-size:18px;line-height:20px;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #e6e6e6}
.house-boxs #address,.house-boxs .map .hd{border:0}
.house-boxs .compact{margin-left:0;padding-left:0;}
.house-boxs .compact li{display:inline-block;width:45%}
.house-boxs #map{position:relative;height:250px}
.house-boxs .slider{padding:10px;-webkit-user-select:none;user-select:none;font-size:0;}
.house-boxs .slider .inner{white-space:nowrap}
.house-boxs .slider .thumb{width:430px;overflow:hidden;}
.house-boxs .slider .thumb img{margin-left:5px;cursor:pointer}
.house-boxs .slider .thumb .active{box-shadow:0 0 5px #1477d6}
.house-boxs .slider .thumb,.house-boxs .slider i{vertical-align:top;display:inline-block}
.house-boxs .slider i{width:16px;height:56px;line-height:56px;text-align:center;border:1px solid #e6e6e6;cursor:pointer;font-size:10px}
.house-boxs .agent{background:#f7f7f7;padding:20px;width:100%;margin:0 0 -20px -20px;}
.house-boxs .agent > div{display:inline-block;vertical-align:top}
.house-boxs .agent .agent-quote{width:240px;padding:20px;margin-left:20px;background:#fff;position:relative;}
.house-boxs .agent .agent-quote:before{right:100%;top:20px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-right-color:#fff;border-width:10px;margin-top:-10px;top:20px}
.house-main{background:#fff;position:relative;top:-20px;padding:20px 20px 0;width:100%;box-sizing:border-box;}
.house-main .house-tab{margin-top:20px;border-top:1px solid #f7f7f7;}
.house-main .house-tab a{display:inline-block;margin-right:1em;padding:10px 5px;color:#666}
.house-main .house-tab .active{border-bottom:2px solid #1477d6}
.house-list-side{width:200px;float:right;}
.house-list-side .box{margin-bottom:50px;}
.house-list-side .box .hd{line-height:40px}
.house-list-side .relative-article a{display:inline-block;margin-top:10px}
.house-list{width:755px;float:left;}
.house-list .house{background:#fff;border:1px solid #e6e6e6;overflow:hidden;padding:0 15px 0 440px;margin-bottom:20px;box-sizing:border-box;}
.house-list .house .gallery{float:left;width:420px;margin-left:-440px;}
.house-list .house .gallery img{float:left;width:335px}
.house-list .house .gallery .thumb{float:left;width:85px;}
.house-list .house .gallery .thumb img{opacity:.3}
.house-list .house .gallery .thumb .active{opacity:1}
.house-list .house .gallery #cover{width:335px}
.house-list .house .hd{margin:15px 0 0;font-size:18px;line-height:20px}
.house-list .house .bd{font-size:14px;line-height:2}
.house-list .house p{margin:0}
.house-list .house ul{margin:0;padding:0;overflow:hidden;}
.house-list .house ul li{display:inline-block;width:45%}
.house-list .house .desc{margin:10px 0 20px;line-height:1.5}
.house-list .house-filter{margin-bottom:20px;border:1px solid #e6e6e6;background:#f7f7f7;line-height:2;}
.house-list .house-filter label{margin:0 1em}
.house-list .house-filter a{display:inline-block;padding:0 .5em;white-space:nowrap;cursor:pointer;color:#666;}
.house-list .house-filter a.active,.house-list .house-filter a:hover{color:#1477d6}
.house-list .house-filter .hf-order{display:inline-block;}
.house-list .house-filter .hf-order label{margin-right:.5em}
.house-list .house-filter .hf-order a{border-right:1px solid #e6e6e6;padding:0 1em}
.house-list .house-filter .hf-order .active i{position:relative;top:12px;margin-left:.5em;content:" ";height:0;width:0;pointer-events:none;border:solid transparent;border-width:5px;border-top-color:#666;}
.house-list .house-filter .hf-order .active i[data-dir='0']{border-top-color:#1477d6}
.house-list .house-filter .hf-order .active i[data-dir='1']{top:-12px;border-top-color:transparent;border-bottom-color:#1477d6}
.house-list .house-filter .hf-price{display:inline-block;margin:0 10px;}
.house-list .house-filter .hf-price input{width:4em}
.house-list .house-filter .hf-field{display:inline-block;}
.house-list .house-filter .hf-field input{margin-left:1em}
.house-list .house-filter .hf-state{border-bottom:1px solid #e6e6e6;padding:10px 1em 10px 7em;background:#fff;}
.house-list .house-filter .hf-state a{width:5em;padding:0;margin-right:.5em;}
.house-list .house-filter .hf-state a:nth-child(1){width:5.5em;margin-left:-6em}
.house-list .house-filter .more{float:right;border-right:0;border-left:1px solid #e6e6e6}

