extends base
block content

  if agent
    - var act = str(agent['_id'])
    - var mtd = 'PUT'
  else
    - var act = ''
    - var mtd = 'POST'

  h2.ui.header add agent:
  form#agent-form.ui(method=mtd,action="/underground/agent/#{act}",enctype='multipart/form-data')
    .ui.form
      .field
        input(type='text',name='name',placeholder='name',value=agent.get('name', ''))
      .field
        input(type='text',name='title',placeholder='title',value=agent.get('title', ''))
      .field
        label agent
        if agent.get('photo', [])
          for i in agent.get('photo')
            img(src='/assets/#{str(i)}')
        input(type='file',name='photo')
      .field
        input(type='number',name='tel',placeholder='tel',value=agent.get('tel', ''))
      .field
        input(type='email',name='email',placeholder='email',value=agent.get('email', ''))
      .field
        textarea(name='detail',placeholder='sth about me',value=agent.get('detail', ''))
      button#submit.ui.blue.submit.button submit
