extends base
block content

  .ui
    a.ui.icon.button(href="/underground/agent/new")
      i.icon.user
      | add agent

  .ui.items
    for agent in agent_list
      .item
        img.image(src="/assets/#{str(agent['photo'][-1])}")
        h4
          a(href="/underground/agent/#{str(agent['_id'])}")= agent['name']
        .act
          a.ui.small.label(href="/underground/article/list?agent=#{str(agent['_id'])}") article
          a.ui.small.label(href="/underground/house/list?agent=#{str(agent['_id'])}") house
