extends base
block content

  if article
    - var act = str(article['_id'])
    - var mtd = 'PUT'
    - var title = article['title']
    - var tag = ','.join(article['tag']) if article['tag'] else ''
  else
    - var act = title = tag = ''
    - var mtd = 'POST'

  h2.ui.header share knowledge:
  form#article-form.ui(method=mtd,action="/underground/article/#{act}")
    .ui.form
      .field= act
        input(type='text',name='title',placeholder='title',value=title)
      #editor.field
      .field
        input(type='text',name='tag',placeholder='multi-tag split with comma, eg:usa, announce',value=tag)
      != select_agent(article.get('agent', ''))
      button#submit.ui.blue.submit.button submit

  script(type="text/javascript", src=static_url("underground/article.js"))
  script
    var $ = require('semantic-ui')
    $('#editor .ed-content').html({{ handler.jsondumps(article.get('content', '')) }})
