extends base
block content

  a.ui.icon.button(href="/underground/article/new")
    i.icon.file
    | add article

  .ui.selection.list
    for article in article_list
      .item
        img.ui.avatar.image(src="//placekitten.com/48/48")
        .content
          .header
            a(href="/underground/article/#{str(article['_id'])}")= article['title']
          include mod/article_action.jade
