!!! 5
html
  head
    meta(chaset='utf-8')
    title under the dark soil
    link(rel="stylesheet", type="text/css", href=static_url('underground/build/build.css'))
    script(type="text/javascript", src=static_url("underground/build/build.js"))
  body
    header.ui.small.top.fixed.attached.menu
      nav(style="width:100%;")
        .item.right
          | #{ handler.current_user['email'] } - 
          a(href="/logout") logout

        a.item(href="/underground/") [**UNDERGR0UND**]
        a.item(href="/underground/user") user
        .item
          a(href="/underground/house/list") house
          a(href="/underground/house/new") 
            i.link.add.icon
        .item
          a(href="/underground/article/list") article
          a(href="/underground/article/new")
            i.link.add.icon
        .item
          a(href="/underground/agent/list") agent
          a(href="/underground/agent/new")
            i.link.add.icon
        a.item(href="/underground/file/") file

    #contain.main(style="padding-top:100px; width:auto;")
      block content

    script
      var $ = require('semantic-ui')
      $('.ui.dropdown').dropdown()
