extends base
block content
  - var house_id = handler.get_argument('house_id', '')
  style
    li { display:inline-block; width:340px; height: 350px; vertical-align: top; }

  a(href="/underground/file/?purge=1") purge all thumb

  ul
    for f in file_list
      li
        - var fid = str(f._id)
        if f.content_type and 'image' in f.content_type.lower() 
          postfix = '' if is_thumb(fid) else '/340x270'
          img(src="/assets/#{fid+postfix}", style="max-width:100%;display:block")= f.filename
        a(href="/underground/file/delete/"+str(f._id)) delete

      //-
        form(action="/underground/file/tag/#{fid}", method="GET")
          input(type='text', name='tag', placeholder="tags",
            value=f.tag if hasattr(f, 'tag') else '',
            )
          button submit
