extends base
block content
  style
    li { display:inline-block; width:340px; height: 350px; vertical-align: top; }

  - var house_id = handler.get_argument('house_id', '')
  a(href="/underground/house/"+house_id) back to house

  form(action="", method="POST")
    input(type='hidden', name="_method", value="PUT")
    ul
      for i,f in enumerate(gallery_list)
        li= f['_id']
          - var fid = str(f['_id'])
          postfix = '' if is_thumb(fid) else '/340x270'
          img(src="/assets/#{fid+postfix}", style="max-width:100%;display:block")
          select(name='order')
            for x in range(0, len(gallery_list))
              if x == f.get('order', None)
                option(value=x, selected)= x
              else
                option(value=x)= x
          //-
            input(type='text', name='tag', placeholder="tags - NOTWORK",
              value=f.get('tag', '')
            )
    button#submit.ui.teal.submit.button submit
