extends base
block content
  style
    .top .button { margin-left:10px; }
    .list { text-align:center; }
    .list .item { text-align:left; display:inline-block !important; width:21em; vertical-align:top;  margin:.5em; }
    //-p .button { width:21em; margin:1em; }
  p.top
    a.ui.icon.button(href="/underground/house/new")
      i.icon.home
      | add house
  .ui.list
    for house in house_list
      .item
        .ui.secondary.segment
          a.ui.left(href="/underground/house/#{str(house['_id'])}")= house.get('title', 'untitled')
          if house['geolocation']
            i.flag.icon
            p= house['address']['en']
            .ui.small.message post at: #{house['create_time']}
          p.act
            - var online_state = 'online' if house.get('online', 0) else 'offline'
            - var cls = '' if house.get('online', 0) else 'red'
            //-a.ui.tiny.label.online(class=cls, href="")= online_state
            .ui.toggle.checkbox(url="/underground/house/online/#{str(house['_id'])}?_method=PUT")
              if house.get('online', 0)
                input(type='checkbox', checked) 
              else
                input(type='checkbox') 
              label.ui(class=cls)= online_state

  
  script(type="text/javascript", src=static_url("underground/house_list.js"))
