extends base
block content
  style.
    .select {
      display: block;
      padding: 5px;
      border: 1px solid #ddd;
    }
    .select input {
      border: 0 none !important;
    }
    .select .select-dropdown {
      width: 100%;
      max-height: 200px;
      border: 1px solid #ddd;
      border-top: 0 none;
      background: #fff;
      overflow: auto;
      z-index: 10;
      left: -1px;
    }
    .select .select-option {
      cursor: pointer;
      display: block;
      padding: 3px 4px;
    }
    [hidden] {
      display: none !important;
    }
    .highlighted {
      background: #f9f9f9;
    }
    .pillbox span {
      padding: 2px;
      background: #fff;
      border: 1px solid #ddd;
      margin: 3px;
      padding-right: 20px;
      position: relative;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    }
    .pillbox span a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 15px;
      text-align: center;
      line-height: 20px;
      color: #ddd;
      border-left: 1px solid #ddd;
      font-size: 10px;
      text-decoration: none;
    }

    .pillbox span a:hover {
      background: #eee;
      color: rgb(152, 218, 142);
    }

  if house
    - var act = str(house['_id'])
    - var mtd = 'PUT'
  else
    - var act = tag = ''
    - var mtd = 'POST'

  .ui.small.teal.inverted.fixed.menu(style='right:20px;top:110px; width:300px')
    each i,x in enumerate(form)
      - var active = 'active' if int(handler.get_argument('step', '0')) == i else ''
      a.item(
        href="?step=#{str(i)}",
        class=active,
        style="display:block"
      )= _(x[0])

    if house
      form#gallery-form.item.right(method="POST",
        enctype='multipart/form-data',
        action="/underground/gallery?house_id=#{str(house['_id'])}")
        a.item(href="/underground/gallery?house_id=#{str(house['_id'])}")= _('gallery')
        input(type="file", multiple, name="file")
        //-button.ui.blue.submit.button upload

  form#house-form.ui(method=mtd,action="/underground/house/#{act}?step=#{str(step)}")
    .ui.form(style="margin-right:350px")
      != gen_field(form[step][1:], house=house)
      if handler.get_argument('step', '0') == '0'
        != select_agent(house.get('agent', ''))
      button#submit.ui.teal.submit.button submit

  script(type="text/javascript", src='https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=zh-cn')
  script.
    var state_data = {% raw ["-".join(s) for s in get_state_abbr()] %}
  script(type="text/javascript", src=static_url("underground/house.js"))
