extends base
block content
  style
    .list a { margin-left: 10px; }
    .bizmail_loginpanel h3{padding-bottom:5px;margin:0 0 5px 0;font-size:14px;}
    .bizmail_loginpanel input.text{font-size:12px;width:100px;height:20px;margin:0 2px;border:1px solid #C3C3C3;border-color:#7C7C7C #C3C3C3 #C3C3C3 #9A9A9A;}
    .bizmail_loginpanel .bizmail_column{height:28px; float:left;margin-right:20px;}
    .bizmail_loginpanel .bizmail_column label{display:block;float:left;width:30px;height:24px;line-height:24px;font-size:12px;}
    .bizmail_loginpanel .bizmail_column .bizmail_inputArea{float:left;}
    .bizmail_loginpanel .bizmail_column span{font-size:12px;word-wrap:break-word;margin-left: 2px;line-height:200%;}
    .bizmail_loginpanel .bizmail_SubmitArea{margin-left:20px;float:left;}
    .bizmail_loginpanel .bizmail_SubmitArea a{font-size:12px;margin-left:5px;}
    .bizmail_loginpanel select{width:110px;height:20px;margin:0 2px;}
  .ui.segment
    script(src="http://exmail.qq.com/zh_CN/htmledition/js_biz/outerlogin.js")

  .ui.segment
    .ui.horizontal.divided.relaxed.list
      .item
        i.circular.inverted.trello.icon
        a(href="https://trello.com/b/rwJ2wQHG/cuckoo") trello

      .item
        i.circular.inverted.bitbucket.icon
        a(href="https://bitbucket.org/yanyaoer/cuckoo") bitbucket

      .item
        i.circular.inverted.sitemap.icon
        a(href="https://rpm.newrelic.com/accounts/357336/servers/4540184") newrelic

      .item
        i.circular.inverted.bug.icon
        a(href="http://sentry.fouland.com/huaqiwucom/cuckoo/") sentry

      .item
        i.circular.inverted.signal.icon
        a(href="http://tongji.baidu.com/web/7613116/overview/sole?siteId=5226631") baidu

      .item
        i.circular.inverted.signal.icon
        a(href="https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a52545881w85047287p88198927/") google

  .ui.blue.inverted.segment
    script.
      writeLoginPanel({domainlist:"huaqiwu.com", mode:"vertical"});


  h2.ui.black.inverted.top.attached.header
    i.code.icon
    | changelog
  pre.ui.teal.inverted.segment.attached=  change

