extends base
block content
  .ui.two.column.relaxed.grid
    .column
      h2 user 
      ul
        each user in user_list
          li.item
            each key in ['_id', 'email', 'phone']
              p #{key}: #{user.get(key)}
            p regisiter_time: #{user['_id'].generation_time}
            each role in ['admin', 'editor']
              a.ui.label(href="/underground/user/role/#{str(user['_id'])}?role=#{role}")= role
    .column
      .ui.secondary.segment
        h2 manager
        each idx,list in enumerate(admin_list)
          kolor = ['teal','blue'][idx]
          each user in list['list']
            .ui.segment(class=kolor)
              each key in ['role', 'email', 'phone']
                p #{key}: #{user.get(key)}
              p regisiter_time: #{user['_id'].generation_time}
              a.ui.label(href="/underground/user/role/#{str(user['_id'])}?role=abandon") abandon
              role = role_filter(user)
              a.ui.label(href="/underground/user/role/#{str(user['_id'])}?role=#{role}")= role
