p.act
  a(href="/underground/article/deactive/#{str(article['_id'])}")
    i.inline.small.delete.sign.icon
    | deactive
  a(href="/underground/article/#{str(article['_id'])}")
    i.inline.small.edit.sign.icon
    | edit
  if article['tag']
    span.tag 
      i.inline.small.tags.icon
      | tags:
      each t,idx in article['tag']
        a(href="/underground/article/tag/#{t}")= t
        |  - 
