.breadcrumb
  a.section(href="/article/") article
  | /
  span.active= article.title

.article-single
  .article-content
    h1.hd= article.title
    .bd
      != article.content
  .article-side
    - var agent = article.agent
    include mod/agent.jade
    include mod/tag.jade
