.article-list
  each article,idx in article_list
    .article
      -var agent = article.agent
      include mod/agent.jade
      h2.hd
        a(href="/article/#{article._id}")= article.title
      .bd= article.content.replace(/(<([^>]+)>)/ig,"").substring(0,150)
        | ...
      .ft
        include mod/tag.jade

  .pager
