h2.ui.header share knowledge:
if article
  - var act = article._id
  - var mtd = 'PUT'
else
  - var act = ''
  - var mtd = 'POST'
form#article-form.ui(method=mtd,action="/api/article/#{act}")
  .ui.form
    .field
      input(type='text',name='title',placeholder='title',value=article.title || '')
    #editor.field
    .field
      input(type='text',name='tag',placeholder='multi-tag split with comma, eg:usa, announce',value=article.tag?article.tag.join(','):'')
    button#submit.ui.blue.submit.button submit
