.house-single.house-gallery
  .house-main
    h1.hd= house.address.en
    .desc= house['property information']

    include mod/house_tab.jade

  .gallery-boxs
    each photo in house.gallery
      img(src="/assets/#{photo._id}/480x325", id=photo._id)
