.house-single.house-neighbor
  .house-main
    h1.hd= house.address.en
    .desc= house['property information']

    include mod/house_tab.jade

  .neighbor-boxs
    each near in house.neighbor
      a(href="/house/#{near._id}")
        img(src="/assets/#{near.photo._id}/480x325")
        p= near.address.en
      
