.house-single
  .house-main
    h1.hd= house.address.en
    .desc= house['property information']

    include mod/house_tab.jade

  .house-boxs
    .hbox.slider
      if house.gallery
        img#cover(src="/assets/#{house.gallery[0]._id}/490x325")
        i.move-left &lt;
        .thumb
          .inner
            include mod/thumb.jade
        i.move-right &gt;
      else
        p gallery coming soon...

    each title in ['construction', 'internal', 'external', 'periphery', 'estate information']
      -var box = window.base.house[title]
      .hbox(class=title)
        .hd= _(title)
        .bd
          include mod/hbox.jade

  .house-boxs

    .hbox.summary
      .hd#address= house.address.en
      .bd
        include mod/house-summary.jade
        -var agent = house.agent
        if agent
          .agent
            include mod/agent.jade
            .agent-quote= house['property information']

    .hbox.map
      .hd= _('map')
      .bd#map(style="position:relative;")

    -var box = window.base.house.price
    .hbox(class='price')
      .hd= _('price')
      .bd
        each field in box
          for k,v in field
            if typeof(k) =='string' && house[k]
              p
                - var val = (typeof(house[k]) == 'number') ? '$'+house[k]+'美元' : house[k]
                span.grey #{_(k)}:
                | #{val} 

    each title in ['size', 'appliance', 'school']
      -var box = window.base.house[title]
      .hbox(class=encodeURIComponent(title))
        .hd= _(title)
        .bd
          include mod/hbox.jade
