.house-list
  .house-filter

    .hf-state
      -var cls = active_state ? '':' active'
      a(class=cls, data-state='') 全境:
      each s in state_abbr
        -var cls = (s[1] == active_state) ? 'active':''
        a(class=cls, data-state=s[1])= s[0]

    .hf-order
      label 排序方式:
      each v in ['create_time', 'size', 'price']
        -var cls = (v == active_sort) ? 'active':''
        a(class=cls, data-sort=v)= _(v)
          - if (v == active_sort)
            i(data-dir=active_order)
          - else
            i

  //-TODO
    .hf-price
      input(type="number", name="min")
      | -
      input(type="number", name="max")
    .hf-field
      each name in ["school", "pool", "garage", "newbuild"]
        input(type="checkbox", name=name, id=name) 
        label(for=name)= _(name)


  each house,idx in house_list
    .house
      .gallery
        if house.gallery
          img.cover(src="/assets/#{house.gallery[0]._id}/335x320")
          .thumb
            -var size= '/85x80'
            include mod/thumb.jade
        else
          p gallery coming soon...
      h2.hd
        a(href="/house/#{house._id}")= house.title || 'N/A'
      .bd
        p= house.address.en
        -var hide = 1
        include mod/house-summary.jade
        p.desc= sanitize(house['property information'], 75)

  .pager

.house-list-side
  .box.relative-agent
    h2.hd= _('relative agent')
    .bd
      each agent in agent_list
        include mod/agent.jade

  .box.relative-article
    h2.hd= _('relative article')
    .bd
      each article,idx in article_list
        a(href="/article/#{article._id}")= article.title
        .abbr= sanitize(article.content, 100)
