.index-slider
  ul#carousel
    - var i=1
    each url in ['/search?t=house&state=CA', '/search?t=house&q=%E6%9B%BC%E5%93%88%E9%A1%BF', '/search?t=house&q=%E9%95%BF%E5%B2%9B']
      li
        a(href=url)
          img(src="/static/img/banner#{i}.jpg")
      - i++

.index-state
  each s in state_list
    -var large = s.total >1 ?'state-large': ''
    div(class="state #{large}")
      a(href="/search?t=house&state=#{s._id.abbr}")= s._id.cn
      span.grey #{s.total}条

.index-intro
  .hd= _('intro title')
  .bd
    .item
      img(src='/static/img/intro.1.png')
      p 透明美国房产价格信息
    .item
      img(src='/static/img/intro.2.png')
      p 选房买房置业专家向导
    .item
      img(src='/static/img/intro.3.png')
      p 人性化知识库答疑解忧

.index-house
  .hd= _('editor choice')
  each house,idx in house_list
    .house
      .gallery
        if house.gallery
          img.cover(src="/assets/#{house.gallery[0]._id}/235x250")
      h2.hd
        a(href="/house/#{house._id}")= house.title || 'N/A'
      .bd
        //-p.addr #{house['lot size']} / $#{house.price.en}
        p.desc= house['property information'] ? house['property information'].replace(/(<([^>]+)>)/ig,"").substring(0,75) : 'N/A'
        p.more
          a(href="/house/#{house._id}") 查看详情
