form#user-form(method='POST',action="/api/login")
  .field
    label= _('email')
    input(type='email',name='email')
  .field
    label= _('password')
    input(type='password',name='password')
  .action
    button#submit= _('login')
    //-a(href="/user/reset_password")= _('forgot password?')
