form#user-form.register(method='POST',action="/api/register")
  .field
    label= _('email')
    input(type='email',name='email',placeholder=_('email is your login username'))
  .field
    label= _('phone number')
    input(type='tel',name='phone')
  .field
    label= _('password')
    input(type='password',name='password')
  .field
    label= _('retry password')
    input(type='password',name='retry')
  .inline.field
    input(type='checkbox',name='term',id='term')
    label(for='term')= _('I agree to the')
      a(href='/terms')= _('terms and conditions')
  .action
    button#submit(type='submit')= _('submit')
    a.ui.button(href="/login")= _('already have account?')
