extends base
block content
  .article-list
    each idx, article in enumerate(article_list)
      .article
        agent = article['agent']
        include mod/agent.jade
        h2.hd
          a(href="/article/#{str(article['_id'])}")= article['title']
        .bd= sanitize(article['content'], 150)
          | ...
        .ft
          type = "article"
          include mod/tag.jade

    .pager
