extends base
block content
  .breadcrumb
    //-a.section(href="/article/") article
    span article
    | /
    span.active= article['title']

  .article-single
    .article-content
      h1.hd= article['title']
      .bd
        != article['content']
    .article-side
      agent = handler.db.dereference(article['agent'])
      include mod/agent.jade
      type = "article"
      include mod/tag.jade
