extends base
block content
  .house-single
    .house-main
      h1.hd= house['address']['en']
      .desc= house['property information']

      include mod/house_tab.jade
  
    .house-boxs
      .hbox.slider
        if house['gallery']
          img#cover(src="/assets/#{str(house['gallery'][0]['_id'])}/490x325")
          i.move-left &lt;
          .thumb
            .inner
              - var size = '/80x56'
              include mod/thumb.jade
          i.move-right &gt;
        else
          p gallery coming soon...

      each title in ['construction', 'internal', 'external', 'periphery', 'estate information']
        - var box = hbase[title]
        .hbox(class=title)
          .hd= _(title)
          .bd
            include mod/hbox.jade

    .house-boxs

      .hbox.summary
        .hd#address= house['address']['en']
        .bd
          - var hide = None
          include mod/house_summary.jade
          - var agent = house['agent']
          if agent
            .agent
              include mod/agent.jade
              .agent-quote= house['property information']

      .hbox.map
        .hd= _('map')
        .bd#map(style="position:relative;")

      - var box = hbase['price']
      .hbox(class='price')
        .hd= _('price')
        .bd
          for k in box[1]
            - var v = house.get(k, None)
            if v
              p
                span.grey #{_(k)}:
                | #{'$'+str(v)+'美元'}

      each title in ['size', 'appliance', 'school']
        - var box = hbase[title]
        .hbox(class=escape(title))
          .hd= _(title)
          .bd
            include mod/hbox.jade
