extends base
block content
  .house-list
    .house-filter

      .hf-state
        state = handler.get_argument('state', 'none')
        cls = 'active' if state != 'none' else ''
        a(class=cls, data-state='') 全境:
        each s in get_state_abbr()
          cls = 'active' if state == s[1] else ''
          a(class=cls, href="/search?t=house&state=#{s[1]}&q=", data-state=s[1])= s[0]

      .hf-order
        label 排序方式:
        each v in ['create_time', 'size', 'price']
          sort = handler.get_argument('sort', '')
          cls = 'active' if sort == v else ''
          a(class=cls, data-sort=v)= _(v)
            if (v == sort)
              i(data-dir=handler.get_argument('order', ''))
            else
              i
    //-TODO
      .hf-price
        input(type="number", name="min")
        | -
        input(type="number", name="max")
      .hf-field
        each name in ["school", "pool", "garage", "newbuild"]
          input(type="checkbox", name=name, id=name) 
          label(for=name)= _(name)


    each idx,house in enumerate(house_list)
      .house
        .gallery
          if house.get('gallery', None)
            img.cover(src="/assets/#{str(house['gallery'][0]['_id'])}/335x320")
            .thumb
              size = '/85x80'
              include mod/thumb.jade
          else
            p gallery coming soon...
        h2.hd
          a(href="/house/#{str(house['_id'])}")= house.get('title', 'N/A')
        .bd
          p= house['address'].get('en', '')
          hide = 1
          include mod/house_summary.jade
          p.desc= sanitize(house['property information'], 75)

    .pager

  .house-list-side
    .box.relative-agent
      h2.hd= _('relative agent')
      .bd
        each agent in agent_list
          include mod/agent.jade

    .box.relative-article
      h2.hd= _('relative article')
      .bd
        each idx,article in enumerate(article_list)
          a(href="/article/#{str(article['_id'])}")= article['title']
          .abbr= sanitize(article['content'], 100)
