extends base
block content
  .index-slider.carousel
    ul#carousel
      each i,url in enumerate(['/search?t=house&state=CA', '/search?t=house&q=%E6%9B%BC%E5%93%88%E9%A1%BF', '/search?t=house&q=%E9%95%BF%E5%B2%9B'])
        li
          a(href=url)
            img(src="/static/img/banner#{str(i+1)}.jpg")

  .index-state
    each s in state_list
      - var large = 'state-large' if s['total'] >1 else ''
      div(class="state #{large}")
        a(href="/search?t=house&state=#{s['_id']['abbr']}")= s['_id']['cn']
        span.grey #{s['total']}条

  .index-intro
    .hd= _('intro title')
    .bd
      .item
        img(src='/static/img/intro.1.png')
        p 透明美国房产价格信息
      .item
        img(src='/static/img/intro.2.png')
        p 选房买房置业专家向导
      .item
        img(src='/static/img/intro.3.png')
        p 人性化知识库答疑解忧

  .index-house
    .hd= _('editor choice')
    each idx,house in enumerate(house_list)
      .house
        .gallery
          if house['gallery']
            img.cover(src="/assets/#{str(house['gallery'][0]['_id'])}/235x250")
        h2.hd
          a(href="/house/#{str(house['_id'])}")= house.get('title', 'N/A')
        .bd
          p.desc= house.get('property information', 'N/A')[:75]
          p.more
            a(href="/house/#{str(house['_id'])}") 查看详情
