!!! 5
html
  head
    meta(chaset='utf-8')
    title 花旗屋 - huaqiwu.com
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="baidu-site-verification", content="wm0DgWkGU7")
    link(rel="stylesheet", type="text/css", href=static_url('build/build.css'))
    <!--[if lt IE 9]><script type="text/javascript" src={{static_url("build/html5.js")}}></script><![endif]-->
    script(type="text/javascript", src=static_url("build/build.js"))
  body
    #wrap
      include header.jade
      #contain.main
        block content

    footer
      .inner
        .copyright copyright &copy; #{year()} #{handler.request.host} 京ICP备14025958号
        a(href="/search?t=article&q=") 购房知识库
        a 关于花旗屋
        a.wechat 关注花旗屋微信
          img(src="/static/img/wechat.jpg")

    script
      window.user = {% raw handler.jsondumps(current_user) %};
      window.base ={
        house: {{ handler.house_json() }}
      }
      window._lang = {{lang()}}
      window._ = function(k){
        return k in window._lang ? window._lang[k] : k
      }
      //-require('cuckoo').start();
