header
  .inner
    a.logo(href="/") 
      img(src="/static/img/logo.png", alt="#{_('sitename')}-logo", title="#{_('slogan')}")

    form.search(action="/search", method="GET")
      .nav#search-label
        label(for='house').active= _('house')
        label(for='article')= _('article')
        a(href="/search?t=article&q=") 购房知识库
      .inner
        input#search-type(type="hidden", name="t", value="house")
        input(type="text", name="q")
        button(type="submit")= _('search')
      .hot
        span 热门地区:
        a(href="/search?t=house&state=CA") 加州
        a(href="/search?t=house&state=NY") 纽约
        each q in ['阳光', '学区房', '度假']
          a(href="/search?t=house&q=#{escape(q)}")= q
    .user
      if current_user
        if user_role in ['admin', 'editor']
          p hi, #{current_user['email']}
          a(href="/underground/") underground
        else
          | hi, #{current_user['email']}
        a(href="/logout") logout
      else
        a.btn(href="/login")= _('login')
        a.btn(href="/register")= _('register')

